In [16]:
import pandas as pd
import numpy as np
import pprint

# Basic mathematical operations

Python can do everything from highly advanced computations to simple arithmetic. Let's go over basic mathematical operators

Addition

In [26]:
5 + 5

10

Subtraction

In [29]:
20 - 2

18

Division

In [30]:
10/2

5.0

Multiplication

In [31]:
100*100

10000

Exponentiation

In [32]:
10**3

1000

Python follows basic arithmetic rules

In [33]:
5 + 10*2

25

In [36]:
((2 + 3)*5 - 3)/2

11.0

# Python Variables

A python variable is used to store almost anything. By using variables we store somethings to accessible later. Let's see a few examples:

Here we store the Integer 5 into the variable "my_variable".

In [20]:
my_variable = 5

We can now refer to my_variable i.e. the integer 5 by just typing my variable.

In [21]:
my_variable

5

We can always change the value of a variable, after it has been defined.

In [22]:
my_variable = 6  
my_variable

6

Thus the variable is a small container to store information and we can obtain that information by refering to the variable name

Let's see a few more examples: Here we multiple my_variable with 10 and print the results. Not that we do not change
my_variable by doing this. For that, we need to assigh my_variable a new values using = sign.

In [25]:
my_variable*10

360

In [24]:
my_variable = my_variable**2

What is "my_varialble" equal too?

# Python Data Structures

In this tutorial we will introduce the most important data structures in Python. It is expected that you alread know 
the basic types:
* strings
* integers
* floats
* booleans

In this tutorial the follwing data types are introduced:

* lists
* tuples
* dictionaries
* dataframes
* arrays (numpy)

We will also look at basic logic in Python as wells as iterations using *for* and *while* loops (also called Controled-Flow Statements)

## Lists

The list is a very common data type in Python and is used for many different things. We define a list in Python by wrapping a set of comma seperatated elements in two square brackets [...].

A list consists of a set of elements in the following manner:

In [44]:
mylist = [1, 2, 3, 4]
mylist

[1, 2, 3, 4]

The elements can be basically any data type and you can mix between data types freely.

In [43]:
my_mixed_list = ["string", True, 1, 0]
my_mixed_list

['string', True, 1, 0]

You can even create lists within lists

In [61]:
list_of_lists = [[1, 2], [3, 4], [5, 6]]
list_of_lists

[[1, 2], [3, 4], [5, 6]]

## Tuples

Tuples are very similar to lists but are defined by using parenthesis (..). The difference, as we will see further down is that tuples are immutable. That means that you cannot change elements of a tuple after you have created it.

In [37]:
mytuple = (1, 2, 3, 4)
mytuple

(1, 2, 3, 4)

In [38]:
my_mixed_tuple = ("string", True, 1, 0)
my_mixed_tuple

('string', True, 1, 0)

In [40]:
tuple_of_tuples = ((1, 2), (3, 4), (5, 6))
tuple_of_tuples

((1, 2), (3, 4), (5, 6))

In [41]:
list_of_tuples = [(1, 2), (3, 4), (5, 6)]
list_of_tuples

[(1, 2), (3, 4), (5, 6)]

## Indexing

In Python we use indexing to select an individual or a range of elements from lists and tuples. The index is just like a cell number in an excel row except that the first
element in the list has index number 0 and not 1 as in excel.

In [48]:
my_mixed_list

['string', True, 1, 0]

In [46]:
my_mixed_list[0]  # Here we select the first element of the list my_mixed_list by providing the index number 0.

'string'

In [49]:
my_mixed_list[2]  # Here we select the third element of the list my_mixed_list by providing the index number 0.

1

To select a range of elements we use write a span using colons. Note that the right index number is not included.

In [51]:
my_mixed_list[0:2]  # Will give us the first two elements, it does not include the element with index 2.

['string', True]

In [53]:
my_mixed_list[1:]  # If we don't specify an index number on one of the sides of the colon sign we imply the left most or right most element

[True, 1, 0]

In [55]:
my_mixed_list[:3]

['string', True, 1]

We can also index in reverse by using negative numbers. Thus providing -1 as an index will give of the last element of the list

In [60]:
my_mixed_list[-1]

0

To index a list of list or tuple of tuples we simply double index like so:

In [63]:
list_of_lists[0]

[1, 2]

In [66]:
list_of_lists[0][0]

1

In [67]:
list_of_lists[0][-1]

2

By specifying specific elements of a list we can change the elements. This is the main difference between tuples and list. This is not possible with Tuples

In [69]:
my_mixed_list[0] = "Cat"
my_mixed_list

['Cat', True, 1, 0]

In [77]:
my_mixed_tuple[0] = "Cat"  # Is not allowed!

TypeError: 'tuple' object does not support item assignment

We can also append elements to a list at the end of the list

In [70]:
my_mixed_list.append("Dog")
my_mixed_list

['Cat', True, 1, 0, 'Dog']

We can join several lists using the + sign

In [72]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

Not that you cannot append a non list to a list by using +. This will not work

In [75]:
[1, 2, 3] + 4

TypeError: can only concatenate list (not "int") to list

You can duplicate and extend a list using * sign

In [78]:
[1, 2, 3]*4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

To get the length of a list or tuple we can use the ```len()``` function.

In [80]:
len([1, 2, 3]*4)

12

## Dictionaries

Dictionaries are a unqiue data type that is very convenient to use for storing data. 

A dictionary is list of key-value pairs. On the form 

{ 
  key_1 : value_1,
  key_2 : value_2,
  key_3 : value_3,
}

We comma separate each key : value pair and each key-value pair is grouped using ":".

In [82]:
my_dict = {
    "Dog" : "Beagle",
    "Cat" : "Siamese",
    "Fish" : "Harring"
}

my_dict

{'Dog': 'Beagle', 'Cat': 'Siamese', 'Fish': 'Harring'}

The keys of a dictionary is used to retrieve the specific value from the dictonary. We use indexing but instead of providing numbers, we prodive the specific key.

In [83]:
my_dict["Dog"]

'Beagle'

In [85]:
my_dict["Cat"]

'Siamese'

Keys can be either strings or integers and the values can by anything!

In [87]:
my_dict_2 = {
    0 : [0, 0, 0],
    1 : "String",
    2 : True
}

In [88]:
my_dict_2[2]

True

In [89]:
my_dict_2[0]

[0, 0, 0]

Values of a dictionary can be changed

In [91]:
my_dict_2[0] = "new_value"
my_dict_2

{0: 'new_value', 1: 'String', 2: True}

You can add a "key:value" pair by simply indexing with new key.

In [93]:
my_dict_2[3] = "new key-value pair"
my_dict_2

{0: 'new_value', 1: 'String', 2: True, 3: 'new key-value pair'}

## DataFrames

Dataframes are like having an Excel spreadsheet in Python. Typically we create dataframes by reading csv or excel files.

In [96]:
df = pd.read_csv("resources/data.csv", delimiter="\t")
df

   A   B     C      D
0  a  10   0.1   True
1  b   5   0.4  False
2  c   4   0.5  False
3  d   3  10.5   True

# Control Flow

## If-Else statements

Implementing logic in Python is often done using If/Else statements. With these we can execute specific code given the truth value of a logical statments.

In [13]:
import random
x = random.randrange(0, 20)

if x > 10:
    print(f"x = {x} is larger than 10")
else:
    print(f"x = {x} is not larger than 10!")

x = 5 is not larger than 10!

## For and While loops

Loops are used to repeat a set of python instructions. There are two types of loops in Python.
* The For Loop (in python this technically a For-in loop)
* The While Loop

### For Loops

In [14]:
i = 0
for i in range(0, 10): # Here we have specified the number of loops
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

### While loops

In [15]:
max_iters = 10
i = 0

while i < max_iters:  # Here we set a logical statement. The loop will continue as long as the logical statemenet is False.
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9